[Unit]
Description=Trunk Recorder

Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=trunk
ExecStart=/usr/local/bin/trunk-recorder
WorkingDirectory=/home/trunk/trunk-recorder
StandardOutput=inherit
StandardError=inherit
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
